
@font-face {
    font-family:'Permanent Marker', cursive;;
    src: url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
}

$primaryColor : rgb(50, 76, 103);
$secondaryColor : rgb(211, 174, 42);


$bigTitles : 6em;
$mediumTitles : 4em;
$smallTitles : 2em;