@import"sass/variables";
@import"sass/mixins";

html {
    background-color: white;
}

body {
    background-color: black;
    width: 99%;
}

header {
    @include ScreenSharing($secondaryColor, white);
}

/* Dropdown Button */
.dropbtn {
    @include BasicText ($smallTitles, $secondaryColor, $primaryColor);
    background-color: $secondaryColor;
    padding: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown:hover .dropdown-content {
      display: block;}
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }



section {
    @include ScreenSharing($primaryColor, white);
    background-image: url("/images/model3.jpg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 600px;
}

h1 {
    @include BasicText ($bigTitles, $primaryColor, $secondaryColor);
    text-align: left;
    margin-left: 3%;


}

h2 {
    @include BasicText($mediumTitles, $primaryColor, $secondaryColor);
    text-align: right;
    margin-right: 2%;
}


.separator {
    background-color: black;
    height: 20px;
}

footer {
    background-color: black;
    color: white;
    font-family: 'Permanent Marker', cursive;
}