@import"sass/variables";
@import"sass/mixins";
@import"sass/navigation";

html {
    background-color: black
}

body {
    background-color: black;
    width: 99%;
}

section {
    @include ScreenSharing($primaryColor, white);
    background-image: url("/images/model3.jpg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 600px;
}

h1 {
    @include BasicText ($bigTitles, $primaryColor, $secondaryColor);
    text-align: left;
    margin-left: 3%;


}

h2 {
    @include BasicText($mediumTitles, $primaryColor, $secondaryColor);
    text-align: right;
    margin-right: 2%;
}


.separator {
    background-color: black;
    height: 20px;
}

footer {
    background-color: black;
    color: white;
    text-align: right;
    font-family: 'Permanent Marker', cursive;
}